[Unit]
Description=Kiosk Xorg Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/startx /root/.xinitrc -- -sharevts vt7
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
